body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.entry{
    background-image: url(Photos/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 80px;
}

.flexible-container{
    display: flex;
    margin-bottom: 120px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}

h1{
    font-size: 45px;
}

.myname{
    color: orange
}

h2{
    font-size: 20px;
    font-weight: 500;
}

p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

.button{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 8px;
}

.button:hover{
    background-image: linear-gradient(red,orange);
}

.half-width img{
    width: 80%;
}

.second{
    background-image: url(Photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-widthtwo{
    width: 50%;
    margin-right: 100px;
}